body {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

.logo {
  visibility: visible;
}

.blog {
  position: relative;
}
.blog h1 {
  font-weight: 700;
  font-size: 58px;
  color: #fff;
  margin-bottom: 16px;
}
.blog p {
  color: #fff;
}
.blog-section1 {
  margin-bottom: 300px;
}
.blog-section1_body {
  max-width: 558px;
}
.container {
}
.body-items {
  margin-top: -166px;
}
.blog-section2 {
  background-color: #fff;
}
.section2-items {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.blog-item {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
}
.blog-body {
  padding: 0 15px;
}
.blog-item_info {
}
.item_info-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 8px;
  color: #070b02;
}
.item_info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #636969;
}
.item_info-btn {
  display: flex;
  align-items: center;
  color: #389078;
}
.item_info-btn a {
  text-decoration: none;
  color: #389078;
  cursor: pointer;
}
.item_info-btn ion-icon {
  margin-left: 8px;
}
.blog-section-btn {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.blog-section-btn a {
  text-decoration: none;
  color: #fff;
  padding: 16px 32px;
  background-color: #389078;
  border-radius: 8px;
  font-weight: 800;
}
