.footer {
  background-color: #cedfdb;
  padding: 40px;
}
.container {
}
.footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-logo img {
  margin-bottom: 16px;
}
.footer-logo-name {
  color: black;
}
.footer-logo-name {
}
.footer-text {
  max-width: 362px;
  padding-right: 120px;
  margin-left: auto;

  line-height: 24px;
  color: #070b02;
}
.footer-social p {
  margin-bottom: 20px;
  font-weight: 800;
}
.social_icons a {
  text-decoration: none;
  transition: 0.3s;
}
.social_icons a:hover {
  opacity: 0.5;
}
.social_icons img {
  padding-right: 20px;
}

@media (max-width: 920px) {
  .footer {
    text-align: center;
  }
  .logo-name {
    margin-bottom: 20px;
  }
  .social_icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  .footer-text {
    padding-right: 0;
    margin: 0 auto;
  }
  .social_icons img {
    padding: 0;
  }
  .footer-logo-name {
    margin: 0;
    padding-bottom: 20px;
  }
  .footer-body {
    flex-direction: column;
  }
  .footer-text {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
