.header {
  padding: 20px;
}
.logo {
  display: flex;
  align-items: center;
  visibility: hidden;
}
.logo a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
}
ul li:last-child a {
  margin-left: 32px;
}
.active {
  font-weight: 800;
}
ul li a {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
