.header {
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.logo img {
  width: 60px;
}
.logo {
  visibility: hidden;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}
.logo:hover {
  opacity: 0.8;
}
.logo span {
  display: block;
  margin-left: 10px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
}
ul li:last-child a {
  margin-left: 32px;
}
.active {
  font-weight: 800;
}
ul li a {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.header ul li a:hover {
  opacity: 0.8;
}

@media (max-width: 1190px) {
  .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer .logo img {
    width: 70px;
  }
}
@media (max-width: 920px) {
  .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer-logo img {
    width: 50px;
  }
}
@media (max-width: 600px) {
  .header-logo img {
    width: 30px;
  }
  .logo a {
    visibility: hidden;
  }
  .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer-logo img {
    width: 30px;
  }
}
