.header {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
  visibility: hidden;
}
.logo img {
  width: 60px;
}
.logo a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
}
ul li:last-child a {
  margin-left: 32px;
}
.active {
  font-weight: 800;
}
ul li a {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1190px) {
  .header .logo img {
    width: 70px;
  }
  .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer .logo img {
    width: 70px;
  }
}
@media (max-width: 920px) {
  .header .logo img {
    width: 50px;
  }

  .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer-logo img {
    width: 50px;
  }
}
@media (max-width: 600px) {
  .header-logo img {
    width: 30px;
  }
  .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer-logo img {
    width: 30px;
  }
}
