.home_page {
}
.home_page .container {
  padding: 20px 20px 0 20px;
}
.home_page_header {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
}
.home_page-about {
  display: flex;
  justify-content: space-between;
}
.home_page-body {
  max-width: 574px;
  padding-bottom: 120px;
}

.page_body-logo {
  margin-bottom: 20px;
}
.page_body-logo img {
}

.logo-name {
  color: #fff;
  font-size: 14px;
}
h1 {
  font-weight: 700;
  font-size: 58px;
  color: #ffffff;
  margin-bottom: 16px;
  line-height: 70px;
}
.home_page-text {
  line-height: 24px;
  color: #929999;
  margin-bottom: 40px;
}
.home_page-btn img {
  margin-right: 20px;
}

.home_page-footer {
  background-color: black;
  color: #fff;
}
.swiper {
  display: flex;
  overflow: hidden;
}
.swiper img {
  border-radius: 10px;

  width: 100%;
}
.container {
}
.page-footer_body {
  margin-top: 195px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 194px;
}
.phone {
  display: flex;
  align-items: flex-end;
}
.page-footer_body h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}
.page_items-about {
  margin-right: 20px;
}
.page-footer_body img {
  padding-bottom: -20px;
}
.page-footer_title {
}
.page-footer-text {
  width: 264px;
  margin-bottom: 20px;
  line-height: 21px;
  color: #929999;
}
.page-footer_btn img {
  margin-bottom: 10px;
  width: 175px;
}

.page-footer-items {
  display: flex;
  gap: 30px;
}

.footer-item {
  padding: 40px 20px 0 20px;
  background: rgba(29, 44, 7, 0.3);

  border: 1px solid #1d2c07;
  border-radius: 8px;
}
.footer-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 16px;
  padding-right: 10px;

  color: #ffffff;
}
.footer-item-text {
  margin-bottom: 16px;
  line-height: 21px;
  color: #929999;
}

@media (max-width: 1024px) {
  .home_page-body {
    margin-bottom: 20px;
  }
  .page_body-logo img {
    margin-left: 0;
  }
  .home_page-body h1,
  .home_page-footer h1 {
    font-size: 25px;
  }
  .phone img {
    width: 200px;
  }
  .home_page-about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home_page-about img {
  }
  .page-footer_title,
  .page-footer-text,
  .page-footer_btn {
    text-align: center;
  }
  .home_page-btn img {
    width: 175px;
    height: 53px;
  }
  .page-footer-text {
    width: 100%;
  }
  .page-footer_btn img {
    width: 175px;
    height: 53px;
  }
  .home_page-body {
    padding-bottom: 0;
  }
  .page-footer_body,
  .page-footer-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer-item {
    margin-bottom: 10px;
    width: 70%;
  }
  .home_page-btn {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .page_body-logo img {
    margin-left: 0;
    width: 50px;
  }
  .page-footer_body {
    margin-top: 30px;
    padding-bottom: 40px;
  }
  .home_page_header {
    padding-top: 90px;
  }
  .home_page-text {
    font-size: 14px;
  }
  h1 {
    line-height: 30px;
  }
  .phone img {
    width: 100px;
  }

  .page-footer_btn a {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_page-btn img {
    width: 175px;
  }
  .home_page-btn {
    display: flex;
  }
  .home_page-btn img {
    width: 175px;
    height: 53px;
  }
}
